@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, we are going to have a party</h1>
    <p>you can register here
    <a asp-action="Register">here</a>.</p>
    <p></p>
</div>
