@model GuestResponse
@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank You @Model.Name, for register</h1>

<p>
    @if (Model.WillAttend == null)
    {
        @:Thank you for your answer. When you decide if you can come to the party, give me a call.

    }
    else if (Model.WillAttend == true)
    {
        @:Thank you for your answer. We will contact you soon
    }
    else //Model.WillAttend == false
    {
        @:Sorry to hear that you cant make it, but thank you
    }

</p>

